[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=krita
X-Python-2-Compatible=false
X-Krita-Manual=manual.html
Name=ComfyKritaSync
Comment=Sync ComfyUI workflows to Krita