[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=krita_sync
X-Python-2-Compatible=false
Name=ComfyUI Krita Sync
Comment=Sync ComfyUI workflows to Krita